<h2>Welcome to Sigma Phi Delta</h2>
<h5 class="subheader right">Today is <%= Time.now.to_formatted_s(:short) %></h5><br>

<h4>Last Activities</h4>
<div class="row">
	<div class="large-12 columns">
		<table>
		  <thead>
		    <tr>
		      <th>mode</th>
		      <th>login</th>
		      <th>action</th>
		      <th>how long</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>Administrator</td>
		      <td>admin</td>
		      <td>added new teacher "Name"</td>
		      <td>right now</td>
		    </tr>
		    <tr>
		      <td>Administrator</td>
		      <td>admin</td>
		      <td>login to root panel</td>
		      <td>two minutes ago</td>
		    </tr>
		    <tr>
		      <td>Teacher</td>
		      <td>Test Teacher</td>
		      <td>set 12 marks in subject "Test subject"</td>
		      <td>ten hours ago</td>
		    </tr>
		  </tbody>
		</table>
	</div>
</div>
<hr>
<h4>System info</h4>
<div class="row">
	<div class="large-3 columns">
		<ul class="pricing-table">
		  <li class="title">Teachers</li>
		  <li class="price"><%= @teachers.count %></li>
		  <li class="bullet-item">1 Assistant</li>
		  <li class="bullet-item">1 Teacher</li>
		  <li class="bullet-item">0 Docent</li>
		  <li class="bullet-item">0 Professor</li>
		  <li class="cta-button"><a class="button" href="#">View</a></li>
		</ul>
	</div>
	<div class="large-3 columns">
		<ul class="pricing-table">
		  <li class="title">Subjects</li>
		  <li class="price"><%= @subjects.count %></li>
		  <li class="bullet-item">240 hours lections</li>
		  <li class="bullet-item">100 hours labs&practice</li>
		  <li class="bullet-item">10 tests</li>
		  <li class="bullet-item">200 subsribed students</li>
		  <li class="cta-button"><a class="button" href="#">View</a></li>
		</ul>
	</div>
	<div class="large-3 columns">
	</div>	
	<div class="large-3 columns">
	</div>	
</div>