<% provide(:title, 'About') %>
<section id="about-tech">
	<div class="row">
		<div class="large-12 columns">
			<h3>Technologies used</h3>
			<ul class="inline-list">
				<li>rails</li>
				<li>foundation</li>
				<li>sass</li>
				<li>git</li>
				<li>gravatar</li>
				<li>jquery</li>
				<li>postgre</li>
			</ul>
		</div>
	</div>
</section>
<section id="about-info">
	<div class="row">
		<div class="large-5 columns">
			<h6>Made by NE05KY</h6>
			<p>trololo</p>
		</div>
		<div class="large-3 columns">
			<h6>Trololo</h6>
			<p></p>
		</div>
		<div class="large-4 columns">
			<h6>Support</h6>
			<p>trololo</p>
		</div>
	</div>
	
</section>