<div class="panel subjects">
	<div class="row">
		<div class="large-3 columns"><img class="hide-for-small" src="http://placehold.it/150x150"></div>
		<div class="large-9 columns">
			<h2><%= link_to subject.name, subject %></h2>
			<h5><%= subject.description %></h5>	
		</div>
	</div>
</div>