<div class="row">
	<hr>
	<div class="large-12 columns">
		<h4 id="shedule"><a href="#shedule">Shedule</a></h4>
		<table class="large-12">
			<thead>
				<tr>
					<th>Day</th>
					<th>Time</th>
					<th>Dinner</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Monday</td>
					<td>10:00-14:00</td>
				</tr>
				<tr>
					<td>Tuesday</td>
					<td>10:00-14:00</td>
				</tr>
				<tr>
					<td>Wednesday</td>
					<td>10:00-14:00</td>
				</tr>
				<tr>
					<td>tdursday</td>
					<td>10:00-14:00</td>
				</tr>
				<tr>
					<td>Friday</td>
					<td>10:00-14:00</td>
				</tr>
				<tr>
					<td>Saturday</td>
					<td>10:00-14:00</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>