// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#about-tech {
	background: #F8F8F8;
	margin-bottom: 30px;
	padding-bottom: 30px;
	padding-top: 15px;

	h3 {
		font-weight: 300;
	}
}