<header class="contain-to-grid">
	<nav class="top-bar">
		<ul class="title-area">
			<li class="name">
				<h1><%= link_to 'ΣΦΔ', root_path %></h1>
			</li>
			<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
		</ul>

		<section class="top-bar-section">
			<ul class="right">
				<li class="divider"></li>
				<li><a href="#">Teachers</a></li>
				<li class="divider"></li>
				<li><a href="#">Students</a></li>
				<li class="divider"></li>
				<li><a href="#">Subjects</a></li>
				<li class="divider"></li>
			</ul>
		</section>
	</nav>
</header>